@model Gimnasio_FND.Models.ViewModel.SucursalViewModel

<form method="post" asp-action="CreateSucursal" asp-controller="Sucursal">
    <div class="modal fade" id="modal_create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Crear sucursal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">

                        <label for="sede_create">Provincia de la sede</label>
                        <select required id="sede_create" class="form-control" asp-for="Sede" name="Sede">
                            <option selected value="">-- Provincia --</option>
                            <option value="San José">San José</option>
                            <option value="Alajuela">Alajuela</option>
                            <option value="Cartago">Cartago</option>
                            <option value="Heredia">Heredia</option>
                            <option value="Guanacaste">Guanacaste</option>
                            <option value="Puntarenas">Puntarenas</option>
                            <option value="Limón">Limón</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="direccion_create">Dirección Exacta</label>
                        <input required type="text" id="direccion_create" class="form-control" asp-for="Direccion" name="Direccion">
                    </div>
                    <div class="form-group">
                        <label for="telefono_create">Télefono</label>
                        <input required type="text" id="telefono_create" class="form-control" asp-for="Telefono" name="Telefono">
                    </div>


                    <div class="form-group">
                        <label for="correo_create">Correo Electrónico</label>
                        <input required type="email" id="correo_create" class="form-control" asp-for="Email" name="Email">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Crear</button>
                </div>
            </div>
        </div>
    </div>
</form>