
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center my-4">Usuarios</h1>

<div class="container">

    <div class="table-responsive">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th >Cédula</th>
                    <th >Nombre</th>
                    <th >Apellidos</th>
                    <th >Email</th>
                    <th >Teléfono</th>
                    <th >Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>wew</td>
                    <td>wew</td>
                </tr>
                
              
            </tbody>
        </table>

     

    </div>
</div>