
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center my-4">Ejercicios</h1>

<div class="container">
    <div class="table-responsive">


        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Descripción</th>
                    <th>Intensidad</th>
                    <th>Equipo</th>

                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>Mark</td>
                    <td>Otto</td>
                    <td>ewew</td>
                </tr>

            </tbody>
        </table>

    </div>
</div>
