@{
    ViewData["Title"] = "Home Page";
}


<h1 class="text-center text-uppercase my-4">Stop wishing, start doing</h1>


<section>
    
    <h3 class="ml-4 mt-4 text-center">Nuestros servicios</h3>  


    <div class="d-flex flex-wrap container justify-content-center">


        <div class="card p-2 mt-2 col-3 mr-2" style="width: 18rem;">
            <img style="height:150px;" src="https://i.imgur.com/hEOyCuM.jpg" alt="Crossfit" />
            <div class="card-body">
                <h5 class="card-title">Crossfit</h5>
                <p class="card-text">
                    CrossFit es una técnica de entrenamiento que conecta movimientos de diferentes disciplinas, tales como la halterofilia, el entrenamiento metabólico o el gimnástico.
                </p>
            </div>
        </div>



        <div class="card p-2 mt-2 col-3 mr-2" style="width: 18rem;">
            <img style="height:150px;" src="https://i.imgur.com/g1ikDL7.jpg" alt="Crossfit" />
            <div class="card-body">
                <h5 class="card-title">Yoga</h5>
                <p class="card-text">
                    El yoga es una práctica que conecta el cuerpo, la respiración y la mente. Esta práctica utiliza posturas físicas, ejercicios de respiración y meditación para mejorar la salud general.
                </p>
            </div>
        </div>


        <div class="card p-2 mt-2 col-3" style="width: 18rem;">
            <img style="height:150px;" src="https://i.imgur.com/N3m5qkW.jpg" alt="Crossfit" />
            <div class="card-body">
                <h5 class="card-title">Pilates</h5>
                <p class="card-text">
                    Pilates es un método de ejercicio y movimiento físico diseñado para estirar, fortalecer y equilibrar el cuerpo. Con la práctica sistemática de ejercicios específicos junto con los patrones de respiración.
                </p>
            </div>
        </div>


    </div>


    </section>



<section>

    <h3 class="ml-4 mt-4 text-center">Planes</h3>

    <div class="d-flex flex-wrap container justify-content-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">Plan Black</h5>
                <p class="card-text">Entrena en cualquiera de nuestras sedes</p>
                <p class="card-text">Actividades:</p>
                <p><i class="fas fa-check text-success"></i>Locker</p>
                <p><i class="fas fa-check text-success"></i>Peso libre</p>
                <p><i class="fas fa-check text-success"></i>Duchas</p>
                <p><i class="fas fa-check text-success"></i>Camerinos</p>
                <p><i class="fas fa-check text-success"></i>Cardio</p>

            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">Plan Smart</h5>
                <p class="card-text">Entrena en cualquiera de nuestras sedes</p>
                <p class="card-text">Actividades:</p>
                <p><i class="fas fa-check text-success"></i>Locker</p>
                <p><i class="fas fa-check text-success"></i>Peso libre</p>
                <p><i class="fas fa-check text-success"></i>Duchas</p>
                <p><i class="fas fa-times text-danger"></i>Camerinos</p>
                <p><i class="fas fa-times text-danger"></i>Cardio</p>
            </div>
        </div>

    </div>
</section>
