@model Gimnasio_FND.Models.ViewModel.RutinaViewModel

<form method="post" asp-controller="Rutina" asp-action="CreateRutina">
    @Html.HiddenFor(r => r.IdUsuarioCliente)
    <div class="modal fade" id="rutina_create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Nueva Rutina</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="rutina">Cliente</label>
                        <input type="text" class="form-control" value="@Model.IdUsuarioClienteNavigation.Nombre @Model.IdUsuarioClienteNavigation.Apellidos" readonly />
                    </div>

                    <div class="form-group">
                        <label for="rutina">Descripción Rutina</label>
                        <input type="text" class="form-control" required id="rutina" asp-for="Descripcion" name="Descripcion" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Crear</button>
                </div>
            </div>
        </div>
    </div>
</form>
